.VBox
{
    -fx-background-color: "&quot;#ebeff0&quot;";
    -fx-text-alignment: center;
}

.Text
{
    -fx-background-radius: 11;
    -fx-text-alignment: center;
}

.button
{
    -fx-background-radius: 111;
    -fx-border-radius: 111;
    -fx-border-color: black;
    -fx-text-alignment: center;
    -fx-background-size: 30;

}
.button:focused
{
    -fx-background-radius: 111;
    -fx-border-radius: 111;
    -fx-border-color: red;
    -fx-text-alignment: center;

}
.button:pressed
{
    -fx-background-radius: 111;
    -fx-border-radius: 111;
    -fx-border-color: blue;
    -fx-text-alignment: center;

}